<div class="con container-fluid">
  <footer class="pt-2 pb-2">
    <div class="row">
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <div>
          <a href="facebook.com" class="me-4 text-dark">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
    </div>
    <div class="container-fluid">
      <div class="row border-bottom">
        <section class="row px-3 ml-3">
          <div class="col-6 col-md-3 my-3">
            <img routerLink="home" src="asset/images/Logo2.png" class="logo" alt="Site Logo"/>
            <p class="nav-link p-0 text-body-secondary">Planning for a trip? We will organize your trip with the best places and within best budget!</p>
          </div>
          <div class="col-6 col-md-3 my-3">
            <h5>Address</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <h1 href="#" class="nav-link p-0 text-body-secondary">TravelGids</h1>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"><i class="fa-solid fa-location-dot"></i> C/54 Northwest Freeway,
                  Suite 558,
                  Houston, USA 485</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"> <i class="fa-solid fa-envelope"></i>    travelgids.com</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"><i class="fa-solid fa-phone"></i> +91-9947382733</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-1 my-3">
            <h5>Company</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Blogs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4 offset-md-1 my-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden"
                  >Email address</label
                >
                <input
                  id="newsletter1"
                  type="text"
                  class="form-control"
                  placeholder="Email address"
                />
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="d-flex flex-column  justify-content-between align-items-center pt-3">
        <!-- <div class="pt-3"> -->
          <p class="text-center">© 2024 Company, Inc. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
