<div class="container mt-5">
    <div class="jumbotron text-center bg-light py-5 mb-4">
      <h1 class="display-4">Tour Packages</h1>
      <p class="lead">Planning for a trip? We will organize your trip with the best places and within the best budget!</p>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let package of tourPackages">
        <div class="card h-100 shadow-sm">
          <div class="position-relative h-100">
            <div class="d-flex h-100">
                <img class="card-img-top" [src]="package.image" alt="{{ package.name }}">
            </div>
            <span class="badge badge-danger position-absolute top-0 start-0 m-2 text-shadow">{{ package.discount }}% OFF</span>
            <button 
            class="btn btn-outline-light position-absolute top-0 end-0 m-2"
            (click)="toggleWishlist(package)">
            <i [class]="package.wishlisted ? 'bi bi-heart-fill text-danger' : 'bi bi-heart'"></i>
          </button>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ package.name }}</h5>
            <div class="d-flex justify-content-between">
              <div>
                <i class="bi bi-geo-alt"></i> {{ package.location }}
              </div>
              <div>
                <span class="fw-bold">${{ package.price }}/day</span>
              </div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <span class="me-1">{{ package.rating }}</span>
              <i class="bi bi-star-fill text-warning me-1"></i>
              <span>({{ package.votes }})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  