.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top{
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .position-relative {
    position: relative;
  }
  
  .badge {
    font-size: 0.8rem;
    color: rgb(211, 17, 17);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

/*   
  .btn-outline-light {
    background: rgba(201, 200, 200, 0.7);
  } */
  