<div class="team-section container">
    <h2>Our Team</h2>
    <div class="row">
      <div *ngFor="let team of team" class="col-md-4 team-member">
        <img  src="{{team.image}}" alt="Team Member 1" class="img-fluid">
        <h4>{{team.name}}</h4>
        <p>{{team.designation}}</p>
      </div>
      <!-- <div class="col-md-3 team-member">
        <img src="asset/images/Jitendra.jpg" alt="Team Member 2" class="img-fluid">
        <h4>Jane Smith</h4>
        <p>Marketing Head</p>
      </div>
      <div class="col-md-3 team-member">
        <img src="asset/images/Rishi.jpg" alt="Team Member 3" class="img-fluid">
        <h4>Michael Brown</h4>
        <p>Customer Service</p>
      </div>
      <div class="col-md-3 team-member">
        <img src="asset/images/Hingu.jpg" alt="Team Member 4" class="img-fluid">
        <h4>Emily Johnson</h4>
        <p>Tour Planner</p>
      </div>
      <div class="col-md-3 team-member">
        <img src="asset/images/Gujju.jpg" alt="Team Member 4" class="img-fluid">
        <h4>Emily Johnson</h4>
        <p>Tour Planner</p>
      </div>
      <div class="col-md-3 team-member">
        <img src="asset/images/Sandy.jpg" alt="Team Member 4" class="img-fluid">
        <h4>Emily Johnson</h4>
        <p>Tour Planner</p>
      </div>
    </div> -->
  </div>