.form-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-box h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.alert-danger {
    margin-top: 5px;
}

.btn-success {
    width: 100%;
}

.btn{
    background-color: rgb(78, 76, 170);
}