<div class="con">
    <div class="container search overflow-visible">
        <form class="row">
            <div class="col">
                <label>Search:</label>
                <div>
                    <input name="name" class="form-control" type="text" id="job-keyword" placeholder="Search" />
                </div>
            </div>
            <div class="col">
                <label>Select Start Date:</label>
                <div>
                    <input type="date" class="form-control" id="datepicker" placeholder="Pick a date">
                </div>
                
            </div>
            <div class="col">
                <label>Select End Date:</label>
                <div>
                    <input type="date" class="form-control" id="datepicker" placeholder="Pick a date">
                </div>
            </div>
            <div class="col">
                <label>No. of Person: </label>
                <div>
                    <select class="form-control">
                        <option disabled="">No. of person</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
            </div>
            <div class="col">
                <br>
                <div>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
